.detail{
    margin-top: 10%;
    margin-left : 20%;
    
    
    
}
.test{  
    border: solid;
    width:500px;
  
}

.post{
    float:left;
    width: 400px;
   
    
    
}

.text{
    width: 500px;
    float: left;
    margin-left: 5%;
  
    
}